language: java
jdk: openjdk8
branches:
  only:
  - master
cache:
  directories:
  - "$HOME/.m2"
env:
  global:
  - secure: SarjJ6kdcKn2+yLNsOr/vhBSZe1rE6n5/7KfkCMmk76nai98/gytJb9zUJ2XaWpWqgph29lxokRz9V5+tkL6woq7JXqgVVMUn1U/ujVLpTujYrYcUnmUC9WzQxWTMzY1HlpTVKBzG5AjfNFbpGfQf3toxWAxEwCFCMA+UhNpxCN/ODvAm/WbL0NLFLEZQBwVNIEMfdDFlkDT1qapvoqxg5bIXGSWzEM2nhdCBrSNIuYsH0wB02xKsnYaokcWQhplqdmd3tBo8KGo4mpGEqNN7HSCl4SGyVKneOi4IqxDdhNxdFzvFDeXBka6arelunXtxbpdWt7Ig2KZjrS15N4qXFIzbWRLIVlTdNq3ifQ3T1oBGJRjkeWO71kOTwxUAZgmg9mC1Hj4IVZMwRn5LmJp15rgEn02OnVKnaV7foFXrQhj4oXpe1b4Go/0jd1vD8dJuw08DtCL4QeVeQNV6mlYdTkra897ys2pQ43bkVh94oXhdqvTiTcPIGvxI5eLdbDHBuXNGIG402x6AlXr4zwhSiH9IkzuF6VwELZWNhxmnrDDP1C56Gy0EN/pvI0S42a3Zp4bhFiT7YVzpRtn9eWwnHGsOWXejZdiiJFdFb0Eldz7LJrYj9YI+KZU3xiaD/z4ggBZHYk7LbQsxJf79vBvprrL+9avKL+taKHoTtohRd8=
  - secure: ZCe07kDB3rvlfdD8xpwlomDk5A/0zXEwtHlvM7g/iULUPkrtyN/F3d8gsN5vLGeiGr9S8Vfk6t5ZaAPiTsMM9sx28Sq0CyCm6ZFcBULKy7N6UVYOfnsqMvCjJgn12nW/z/x4LRnIg3XoTbWKrmiH/kUY8p+TTHmyZr5khJq14JR3lBWyqHf+8OYOLSXpWjrTSI2as7TYjZOhd2MffBRcCFlS8r2Oiezqaom69+hTqywsSZ1lnBXqYRTNf7PN8TifxEFLBYL1qu9AY92/X0Kr7wBrp8LbOfsSeGli0Dk81z+kRzhgQHQgiSnLnUtbwVgEaQX45gtGc9nirJr4qKZwqx00r0mBKsKZDmuBYlGpgDzMnbFA6FZnm8uuQX/r0H86JDBfDZBkPEQyp8czrBZBPPzQW+DSfPwWayqVlIJhm5z2HIFZfEAknUcxPaUZfiN0VDHK/Q9HpZyl1w0iaps+9sfGi765YqGhD5vc8EJ+YVwXA+4G9U2o8MFQS10X5ST25shL2djN9x86+RKPaz6FchJ0dz8o+xcHGxB2vyz4vO4v7krz0PQMjSl0pQTUt2rMNpDLfEWj9N2FaXTpc8O16xWlv2SO0Csq+ZF2BgKZIOWZ5h9CvU+ld34Zy3otaaQ/QkCNBg0wQ+uJqqh4LkxSsa+H8BlYdezicGI00r4DBCI=
install:
- mvn dependency:purge-local-repository -DmanualInclude="uk.ac.sussex.gdsc:gdsc-core"
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
after_success:
- mvn clean test -P coveralls,jacoco jacoco:report coveralls:report
