<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>
    <!--
      Copied from https://raw.githubusercontent.com/scijava/scijava-scripts/master/travis-build.sh 
      NB: Use maven.scijava.org as sole mirror if defined in <repositories>.
      This hopefully avoids intermittent "ReasonPhrase:Forbidden" errors
      when the Travis build pings Maven Central; see travis-ci/travis-ci#6593.
    -->
    <mirrors>
        <mirror>
            <id>scijava-mirror</id>
            <name>SciJava mirror</name>
            <url>https://maven.scijava.org/content/groups/public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
