###
# #%L
# Genome Damage and Stability Centre SMLM ImageJ Plugins
# 
# Software for single molecule localisation microscopy (SMLM)
# %%
# Copyright (C) 2011 - 2019 Alex Herbert
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###

# NOTE:
# -=-=-
# This file is used to define the GDSC SMLM ImageJ plugins. A copy of this can 
# be installed into the user's home ImageJ directory (using filename 
# 'smlm.config') and customised to configure the buttons shown in the panel 
# displayed by the 'Show SMLM Tools' plugin. This action is performed by the 
# 'Create SMLM Tools Config' plugin.
# 
# Buttons are added to the panel in the order the plugins are listed. Insert a 
# single blank line to create a space in the column. Insert two blank lines to 
# start a new column.
#
# For general users it is recommended to delete most of the Model, Calibration
# and PC PALM sections. Only entries from the 'Plugins' menu are used.

Plugins>GDSC SMLM>Fitting, "Simple Fit", uk.ac.sussex.gdsc.smlm.ij.plugins.PeakFit("simple")
Plugins>GDSC SMLM>Fitting, "Peak Fit", uk.ac.sussex.gdsc.smlm.ij.plugins.PeakFit
Plugins>GDSC SMLM>Fitting, "-"
Plugins>GDSC SMLM>Fitting, "Template Manager", uk.ac.sussex.gdsc.smlm.ij.plugins.ConfigurationTemplate
Plugins>GDSC SMLM>Fitting, "Fit Configuration", uk.ac.sussex.gdsc.smlm.ij.plugins.Configuration
Plugins>GDSC SMLM>Fitting, "Peak Fit (Series)", uk.ac.sussex.gdsc.smlm.ij.plugins.PeakFit("series")
# This plugin no longer works 
#Plugins>GDSC SMLM>Fitting, "Batch Fit", uk.ac.sussex.gdsc.smlm.ij.plugins.BatchPeakFit
Plugins>GDSC SMLM>Fitting, "Spot Finder", uk.ac.sussex.gdsc.smlm.ij.plugins.PeakFit("spot")
Plugins>GDSC SMLM>Fitting, "Spot Finder (Series)", uk.ac.sussex.gdsc.smlm.ij.plugins.PeakFit("spot series")
Plugins>GDSC SMLM>Fitting, "Spot Finder (Preview)", uk.ac.sussex.gdsc.smlm.ij.plugins.SpotFinderPreview
Plugins>GDSC SMLM>Fitting, "Fit Maxima", uk.ac.sussex.gdsc.smlm.ij.plugins.PeakFit("maxima")
Plugins>GDSC SMLM>Fitting, "Gaussian Fit", uk.ac.sussex.gdsc.smlm.ij.plugins.GaussianFit
Plugins>GDSC SMLM>Fitting, "Fail Count Manager", uk.ac.sussex.gdsc.smlm.ij.plugins.FailCountManager
Plugins>GDSC SMLM>Fitting, "Spot Fit Tool", uk.ac.sussex.gdsc.smlm.ij.plugins.SpotFit

Plugins>GDSC SMLM>Results, "Results Manager", uk.ac.sussex.gdsc.smlm.ij.plugins.ResultsManager
Plugins>GDSC SMLM>Results, "Batch Load Results", uk.ac.sussex.gdsc.smlm.ij.plugins.ResultsManager("load")
Plugins>GDSC SMLM>Results, "Batch Save Results", uk.ac.sussex.gdsc.smlm.ij.plugins.ResultsManager("save")
Plugins>GDSC SMLM>Results, "Summarise Results", uk.ac.sussex.gdsc.smlm.ij.plugins.SummariseResults
Plugins>GDSC SMLM>Results, "Clear Memory Results", uk.ac.sussex.gdsc.smlm.ij.plugins.ResultsManager("clear")
Plugins>GDSC SMLM>Results, "Clear Memory Results (Multi)", uk.ac.sussex.gdsc.smlm.ij.plugins.ResultsManager("clear multi")
Plugins>GDSC SMLM>Results, "Rename Results", uk.ac.sussex.gdsc.smlm.ij.plugins.RenameResults
Plugins>GDSC SMLM>Results, "Resequence Results", uk.ac.sussex.gdsc.smlm.ij.plugins.ResequenceResults
Plugins>GDSC SMLM>Results, "Calibrate Results", uk.ac.sussex.gdsc.smlm.ij.plugins.CalibrateResults
Plugins>GDSC SMLM>Results, "Convert Results", uk.ac.sussex.gdsc.smlm.ij.plugins.ConvertResults
Plugins>GDSC SMLM>Results, "Show Results Header", uk.ac.sussex.gdsc.smlm.ij.plugins.ShowResultsHeader
Plugins>GDSC SMLM>Results, "Overlay Results", uk.ac.sussex.gdsc.smlm.ij.plugins.OverlayResults
Plugins>GDSC SMLM>Results, "Load Localisations", uk.ac.sussex.gdsc.smlm.ij.plugins.LoadLocalisations
Plugins>GDSC SMLM>Results, "Trace Exporter", uk.ac.sussex.gdsc.smlm.ij.plugins.TraceExporter
Plugins>GDSC SMLM>Results, "-"
Plugins>GDSC SMLM>Results, "Filter Results", uk.ac.sussex.gdsc.smlm.ij.plugins.FilterResults
Plugins>GDSC SMLM>Results, "Crop Results", uk.ac.sussex.gdsc.smlm.ij.plugins.CropResults
Plugins>GDSC SMLM>Results, "ROI Crop Results", uk.ac.sussex.gdsc.smlm.ij.plugins.CropResults("roi")
Plugins>GDSC SMLM>Results, "Free Filter Results", uk.ac.sussex.gdsc.smlm.ij.plugins.FreeFilterResults
Plugins>GDSC SMLM>Results, "Split Results", uk.ac.sussex.gdsc.smlm.ij.plugins.SplitResults
Plugins>GDSC SMLM>Results, "Translate Results", uk.ac.sussex.gdsc.smlm.ij.plugins.TranslateResults
Plugins>GDSC SMLM>Results, "3D Results Viewer", uk.ac.sussex.gdsc.smlm.ij.plugins.ImageJ3DResultsViewer
Plugins>GDSC SMLM>Results, "-"
Plugins>GDSC SMLM>Results, "Results Match Calculator", uk.ac.sussex.gdsc.smlm.ij.plugins.ResultsMatchCalculator
Plugins>GDSC SMLM>Results, "Trace Match Calculator", uk.ac.sussex.gdsc.smlm.ij.plugins.TraceMatchCalculator
Plugins>GDSC SMLM>Results, "Spot Inspector", uk.ac.sussex.gdsc.smlm.ij.plugins.SpotInspector
Plugins>GDSC SMLM>Results, "-"
Plugins>GDSC SMLM>Results, "Yeast Mask", uk.ac.sussex.gdsc.smlm.ij.plugins.YeastMask
Plugins>GDSC SMLM>Results, "Depth Mask", uk.ac.sussex.gdsc.smlm.ij.plugins.DepthMask
Plugins>GDSC SMLM>Results, "Nucleus Mask", uk.ac.sussex.gdsc.smlm.ij.plugins.NucleusMask


Plugins>GDSC SMLM>Analysis, "Drift Calculator", uk.ac.sussex.gdsc.smlm.ij.plugins.DriftCalculator
Plugins>GDSC SMLM>Analysis, "Trace Molecules", uk.ac.sussex.gdsc.smlm.ij.plugins.TraceMolecules
Plugins>GDSC SMLM>Analysis, "Cluster Molecules", uk.ac.sussex.gdsc.smlm.ij.plugins.TraceMolecules("cluster")
Plugins>GDSC SMLM>Analysis, "Trace Diffusion", uk.ac.sussex.gdsc.smlm.ij.plugins.TraceDiffusion
Plugins>GDSC SMLM>Analysis, "Trace Diffusion (Multi)", uk.ac.sussex.gdsc.smlm.ij.plugins.TraceDiffusion("multi")
Plugins>GDSC SMLM>Analysis, "Trace Length Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.TraceLengthAnalysis
Plugins>GDSC SMLM>Analysis, "OPTICS", uk.ac.sussex.gdsc.smlm.ij.plugins.OPTICS
Plugins>GDSC SMLM>Analysis, "DBSCAN", uk.ac.sussex.gdsc.smlm.ij.plugins.OPTICS("dbscan")
Plugins>GDSC SMLM>Analysis, "Draw Clusters", uk.ac.sussex.gdsc.smlm.ij.plugins.DrawClusters
Plugins>GDSC SMLM>Analysis, "Density Image", uk.ac.sussex.gdsc.smlm.ij.plugins.DensityImage
Plugins>GDSC SMLM>Analysis, "Dark Time Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.DarkTimeAnalysis
Plugins>GDSC SMLM>Analysis, "Blink Estimator", uk.ac.sussex.gdsc.smlm.ij.plugins.BlinkEstimator
Plugins>GDSC SMLM>Analysis, "Neighbour Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.NeighbourAnalysis
Plugins>GDSC SMLM>Analysis, "Filter Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.FilterAnalysis
Plugins>GDSC SMLM>Analysis, "Create Filters", uk.ac.sussex.gdsc.smlm.ij.plugins.CreateFilters
Plugins>GDSC SMLM>Analysis, "Filter Analysis (File)", uk.ac.sussex.gdsc.smlm.ij.plugins.FilterAnalysis("file")
Plugins>GDSC SMLM>Analysis, "Spot Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.SpotAnalysis
Plugins>GDSC SMLM>Analysis, "Spot Analysis (Add)", uk.ac.sussex.gdsc.smlm.ij.plugins.SpotAnalysis("add")
Plugins>GDSC SMLM>Analysis, "Crosstalk Activation Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.PulseActivationAnalysis("crosstalk")
Plugins>GDSC SMLM>Analysis, "Pulse Activation Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.PulseActivationAnalysis
Plugins>GDSC SMLM>Analysis, "-"
Plugins>GDSC SMLM>Analysis, "Fourier Image Resolution", uk.ac.sussex.gdsc.smlm.ij.plugins.Fire
Plugins>GDSC SMLM>Analysis, "FIRE Q Estimation", uk.ac.sussex.gdsc.smlm.ij.plugins.Fire("q")

Plugins>GDSC SMLM>Tools, "Smooth Image", uk.ac.sussex.gdsc.smlm.ij.plugins.SmoothImage
Plugins>GDSC SMLM>Tools, "Binary Display", uk.ac.sussex.gdsc.smlm.ij.plugins.BinaryDisplay
Plugins>GDSC SMLM>Tools, "Reset Display", uk.ac.sussex.gdsc.smlm.ij.plugins.BinaryDisplay("reset")
Plugins>GDSC SMLM>Tools, "Pixel Filter", uk.ac.sussex.gdsc.smlm.ij.plugins.PixelFilter
Plugins>GDSC SMLM>Tools, "Noise Estimator", uk.ac.sussex.gdsc.smlm.ij.plugins.Noise
Plugins>GDSC SMLM>Tools, "Background Estimator", uk.ac.sussex.gdsc.smlm.ij.plugins.BackgroundEstimator
Plugins>GDSC SMLM>Tools, "Median Filter", uk.ac.sussex.gdsc.smlm.ij.plugins.MedianFilter
Plugins>GDSC SMLM>Tools, "Image Background", uk.ac.sussex.gdsc.smlm.ij.plugins.ImageBackground
Plugins>GDSC SMLM>Tools, "Overlay Image", uk.ac.sussex.gdsc.smlm.ij.plugins.OverlayImage
Plugins>GDSC SMLM>Tools, "Image Kernel Filter", uk.ac.sussex.gdsc.smlm.ij.plugins.ImageKernelFilter
Plugins>GDSC SMLM>Tools, "TIFF Series Viewer", uk.ac.sussex.gdsc.smlm.ij.plugins.TiffSeriesViewer

Plugins>GDSC SMLM>PC PALM, "PC-PALM Molecules", uk.ac.sussex.gdsc.smlm.ij.plugins.pcpalm.PcPalmMolecules
Plugins>GDSC SMLM>PC PALM, "PC-PALM Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.pcpalm.PcPalmAnalysis
Plugins>GDSC SMLM>PC PALM, "PC-PALM Spatial Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.pcpalm.PcPalmAnalysis("spatial")
Plugins>GDSC SMLM>PC PALM, "PC-PALM Save Results", uk.ac.sussex.gdsc.smlm.ij.plugins.pcpalm.PcPalmAnalysis("save")
Plugins>GDSC SMLM>PC PALM, "PC-PALM Load Results", uk.ac.sussex.gdsc.smlm.ij.plugins.pcpalm.PcPalmAnalysis("load")
Plugins>GDSC SMLM>PC PALM, "PC-PALM Fitting", uk.ac.sussex.gdsc.smlm.ij.plugins.pcpalm.PcPalmFitting
Plugins>GDSC SMLM>PC PALM, "PC-PALM Clusters", uk.ac.sussex.gdsc.smlm.ij.plugins.pcpalm.PcPalmClusters


Plugins>GDSC SMLM>Model, "PSF Creator", uk.ac.sussex.gdsc.smlm.ij.plugins.PSFCreator
Plugins>GDSC SMLM>Model, "PSF Drift", uk.ac.sussex.gdsc.smlm.ij.plugins.PSFDrift
Plugins>GDSC SMLM>Model, "PSF Combiner", uk.ac.sussex.gdsc.smlm.ij.plugins.PSFCombiner
Plugins>GDSC SMLM>Model, "PSF HWHM", uk.ac.sussex.gdsc.smlm.ij.plugins.PSFDrift("hwhm")
Plugins>GDSC SMLM>Model, "Cubic Spline Manager", uk.ac.sussex.gdsc.smlm.ij.plugins.CubicSplineManager
Plugins>GDSC SMLM>Model, "Astigmatism Model Manager", uk.ac.sussex.gdsc.smlm.ij.plugins.AstigmatismModelManager
Plugins>GDSC SMLM>Model, "-"
Plugins>GDSC SMLM>Model, "Create Data", uk.ac.sussex.gdsc.smlm.ij.plugins.CreateData
Plugins>GDSC SMLM>Model, "Create Simple Data", uk.ac.sussex.gdsc.smlm.ij.plugins.CreateData("simple")
Plugins>GDSC SMLM>Model, "Create Track Data", uk.ac.sussex.gdsc.smlm.ij.plugins.CreateData("track")
Plugins>GDSC SMLM>Model, "Create Benchmark Data", uk.ac.sussex.gdsc.smlm.ij.plugins.CreateData("benchmark")
Plugins>GDSC SMLM>Model, "Fit Benchmark Data", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkFit
Plugins>GDSC SMLM>Model, "Benchmark Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkFit("analysis")
Plugins>GDSC SMLM>Model, "Create Spot Data", uk.ac.sussex.gdsc.smlm.ij.plugins.CreateData("spot")
Plugins>GDSC SMLM>Model, "Load Benchmark Data", uk.ac.sussex.gdsc.smlm.ij.plugins.CreateData("load")
Plugins>GDSC SMLM>Model, "-"
Plugins>GDSC SMLM>Model, "Filter Spot Data", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkSpotFilter
Plugins>GDSC SMLM>Model, "Filter Spot Data (Batch)", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkSpotFilter("batch")
Plugins>GDSC SMLM>Model, "Fit Spot Data", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkSpotFit
Plugins>GDSC SMLM>Model, "Benchmark Filter Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis
Plugins>GDSC SMLM>Model, "Benchmark Filter Parameters", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis("parameters")
Plugins>GDSC SMLM>Model, "Iterate Filter Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis("iterate")
Plugins>GDSC SMLM>Model, "Score Filter", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis("score")
Plugins>GDSC SMLM>Model, "Doublet Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.DoubletAnalysis
Plugins>GDSC SMLM>Model, "Doublet Filter Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.DoubletAnalysis("analysis")
Plugins>GDSC SMLM>Model, "Smart Spot Ranking", uk.ac.sussex.gdsc.smlm.ij.plugins.BenchmarkSmartSpotRanking

Plugins>GDSC SMLM>Toolset, "Install SMLM Toolset", uk.ac.sussex.gdsc.smlm.ij.plugins.About("toolset")
Plugins>GDSC SMLM>Toolset, "Show SMLM Tools", uk.ac.sussex.gdsc.smlm.ij.plugins.SMLMTools
Plugins>GDSC SMLM>Toolset, "Create SMLM Tools Config", uk.ac.sussex.gdsc.smlm.ij.plugins.About("config")
# This is ignored by the 'Show SMLM Tools' plugin
Plugins>GDSC SMLM>Toolset, "SMLM Macro Extensions", uk.ac.sussex.gdsc.smlm.ij.plugins.About("ext")

Plugins>GDSC SMLM>Calibration, "PSF Calculator", uk.ac.sussex.gdsc.smlm.ij.plugins.PSFCalculator
Plugins>GDSC SMLM>Calibration, "PSF Estimator", uk.ac.sussex.gdsc.smlm.ij.plugins.PSFEstimator
Plugins>GDSC SMLM>Calibration, "-"
Plugins>GDSC SMLM>Calibration, "Mean-Variance Test", uk.ac.sussex.gdsc.smlm.ij.plugins.MeanVarianceTest
Plugins>GDSC SMLM>Calibration, "Mean-Variance Test (EM-CCD)", uk.ac.sussex.gdsc.smlm.ij.plugins.MeanVarianceTest("em")
Plugins>GDSC SMLM>Calibration, "EM-Gain Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.EMGainAnalysis
Plugins>GDSC SMLM>Calibration, "EM-Gain PMF", uk.ac.sussex.gdsc.smlm.ij.plugins.EMGainAnalysis("pmf")
Plugins>GDSC SMLM>Calibration, "sCMOS Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.CMOSAnalysis
Plugins>GDSC SMLM>Calibration, "Camera Model Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.CameraModelAnalysis
Plugins>GDSC SMLM>Calibration, "Camera Model Fisher Information Analysis", uk.ac.sussex.gdsc.smlm.ij.plugins.CameraModelFisherInformationAnalysis
Plugins>GDSC SMLM>Calibration, "Camera Model Manager", uk.ac.sussex.gdsc.smlm.ij.plugins.CameraModelManager
Plugins>GDSC SMLM>Calibration, "Diffusion Rate Test", uk.ac.sussex.gdsc.smlm.ij.plugins.DiffusionRateTest
# No newline as this puts the Usage Tracker on a new column in the SMLM Tools window
Plugins>GDSC SMLM, "-"
Plugins>GDSC SMLM, "SMLM Usage Tracker", uk.ac.sussex.gdsc.smlm.ij.plugins.SMLMUsageTracker

# This is ignored by the 'Show SMLM Tools' plugin
Help>About Plugins, "GDSC SMLM...", uk.ac.sussex.gdsc.smlm.ij.plugins.About("about")
