# GDSC SMLM Plugins for ImageJ: a collection of ImageJ plugins for 
# Single Molecule Localisation Microscopy (SMLM) including:
#
# Spot localisation using PSF fitting
# Clustering using distance/time thresholds
# Super-resolution image reconstruction
# 
# Copyright (C) 2013- Alex Herbert.
#
# NOTE:
# -=-=-
# This file is used to define the GDSC SMLM ImageJ plugins. A copy of this can 
# be installed into the user's home ImageJ directory (using filename 
# 'smlm.config') and customised to configure the buttons shown in the panel 
# displayed by the 'Show SMLM Tools' plugin. This action is performed by the 
# 'Create SMLM Tools Config' plugin.
# 
# Buttons are added to the panel in the order the plugins are listed. Insert a 
# single blank line to create a space in the column. Insert two blank lines to 
# start a new column.
#
# For general users it is recommended to delete most of the Model, Calibration
# and PC PALM sections. Only entries from the 'Plugins' menu are used.

Plugins>GDSC SMLM>Fitting, "Simple Fit", gdsc.smlm.ij.plugins.PeakFit("simple")
Plugins>GDSC SMLM>Fitting, "Peak Fit", gdsc.smlm.ij.plugins.PeakFit
Plugins>GDSC SMLM>Fitting, "-"
Plugins>GDSC SMLM>Fitting, "Template Manager", gdsc.smlm.ij.plugins.ConfigurationTemplate
Plugins>GDSC SMLM>Fitting, "Fit Configuration", gdsc.smlm.ij.plugins.Configuration
Plugins>GDSC SMLM>Fitting, "Peak Fit (Series)", gdsc.smlm.ij.plugins.PeakFit("series")
# This plugin no longer works 
#Plugins>GDSC SMLM>Fitting, "Batch Fit", gdsc.smlm.ij.plugins.BatchPeakFit
Plugins>GDSC SMLM>Fitting, "Spot Finder", gdsc.smlm.ij.plugins.PeakFit("spot")
Plugins>GDSC SMLM>Fitting, "Spot Finder (Series)", gdsc.smlm.ij.plugins.PeakFit("spot series")
Plugins>GDSC SMLM>Fitting, "Spot Finder (Preview)", gdsc.smlm.ij.plugins.SpotFinderPreview
Plugins>GDSC SMLM>Fitting, "Fit Maxima", gdsc.smlm.ij.plugins.PeakFit("maxima")
Plugins>GDSC SMLM>Fitting, "Gaussian Fit", gdsc.smlm.ij.plugins.GaussianFit
Plugins>GDSC SMLM>Fitting, "Fail Count Manager", gdsc.smlm.ij.plugins.FailCountManager
Plugins>GDSC SMLM>Fitting, "Spot Fit Tool", gdsc.smlm.ij.plugins.SpotFit

Plugins>GDSC SMLM>Results, "Results Manager", gdsc.smlm.ij.plugins.ResultsManager
Plugins>GDSC SMLM>Results, "Batch Load Results", gdsc.smlm.ij.plugins.ResultsManager("load")
Plugins>GDSC SMLM>Results, "Batch Save Results", gdsc.smlm.ij.plugins.ResultsManager("save")
Plugins>GDSC SMLM>Results, "Summarise Results", gdsc.smlm.ij.plugins.SummariseResults
Plugins>GDSC SMLM>Results, "Clear Memory Results", gdsc.smlm.ij.plugins.ResultsManager("clear")
Plugins>GDSC SMLM>Results, "Clear Memory Results (Multi)", gdsc.smlm.ij.plugins.ResultsManager("clear multi")
Plugins>GDSC SMLM>Results, "Rename Results", gdsc.smlm.ij.plugins.RenameResults
Plugins>GDSC SMLM>Results, "Resequence Results", gdsc.smlm.ij.plugins.ResequenceResults
Plugins>GDSC SMLM>Results, "Calibrate Results", gdsc.smlm.ij.plugins.CalibrateResults
Plugins>GDSC SMLM>Results, "Convert Results", gdsc.smlm.ij.plugins.ConvertResults
Plugins>GDSC SMLM>Results, "Show Results Header", gdsc.smlm.ij.plugins.ShowResultsHeader
Plugins>GDSC SMLM>Results, "Overlay Results", gdsc.smlm.ij.plugins.OverlayResults
Plugins>GDSC SMLM>Results, "Load Localisations", gdsc.smlm.ij.plugins.LoadLocalisations
Plugins>GDSC SMLM>Results, "Trace Exporter", gdsc.smlm.ij.plugins.TraceExporter
Plugins>GDSC SMLM>Results, "-"
Plugins>GDSC SMLM>Results, "Filter Results", gdsc.smlm.ij.plugins.FilterResults
Plugins>GDSC SMLM>Results, "Crop Results", gdsc.smlm.ij.plugins.CropResults
Plugins>GDSC SMLM>Results, "ROI Crop Results", gdsc.smlm.ij.plugins.CropResults("roi")
Plugins>GDSC SMLM>Results, "Free Filter Results", gdsc.smlm.ij.plugins.FreeFilterResults
Plugins>GDSC SMLM>Results, "Split Results", gdsc.smlm.ij.plugins.SplitResults
Plugins>GDSC SMLM>Results, "Translate Results", gdsc.smlm.ij.plugins.TranslateResults
Plugins>GDSC SMLM>Results, "3D Results Viewer", gdsc.smlm.ij.plugins.ImageJ3DResultsViewer
Plugins>GDSC SMLM>Results, "-"
Plugins>GDSC SMLM>Results, "Results Match Calculator", gdsc.smlm.ij.plugins.ResultsMatchCalculator
Plugins>GDSC SMLM>Results, "Trace Match Calculator", gdsc.smlm.ij.plugins.TraceMatchCalculator
Plugins>GDSC SMLM>Results, "Spot Inspector", gdsc.smlm.ij.plugins.SpotInspector
Plugins>GDSC SMLM>Results, "-"
Plugins>GDSC SMLM>Results, "Yeast Mask", gdsc.smlm.ij.plugins.YeastMask
Plugins>GDSC SMLM>Results, "Depth Mask", gdsc.smlm.ij.plugins.DepthMask
Plugins>GDSC SMLM>Results, "Nucleus Mask", gdsc.smlm.ij.plugins.NucleusMask


Plugins>GDSC SMLM>Analysis, "Drift Calculator", gdsc.smlm.ij.plugins.DriftCalculator
Plugins>GDSC SMLM>Analysis, "Trace Molecules", gdsc.smlm.ij.plugins.TraceMolecules
Plugins>GDSC SMLM>Analysis, "Cluster Molecules", gdsc.smlm.ij.plugins.TraceMolecules("cluster")
Plugins>GDSC SMLM>Analysis, "Trace Diffusion", gdsc.smlm.ij.plugins.TraceDiffusion
Plugins>GDSC SMLM>Analysis, "Trace Diffusion (Multi)", gdsc.smlm.ij.plugins.TraceDiffusion("multi")
Plugins>GDSC SMLM>Analysis, "Trace Length Analysis", gdsc.smlm.ij.plugins.TraceLengthAnalysis
Plugins>GDSC SMLM>Analysis, "OPTICS", gdsc.smlm.ij.plugins.OPTICS
Plugins>GDSC SMLM>Analysis, "DBSCAN", gdsc.smlm.ij.plugins.OPTICS("dbscan")
Plugins>GDSC SMLM>Analysis, "Draw Clusters", gdsc.smlm.ij.plugins.DrawClusters
Plugins>GDSC SMLM>Analysis, "Density Image", gdsc.smlm.ij.plugins.DensityImage
Plugins>GDSC SMLM>Analysis, "Dark Time Analysis", gdsc.smlm.ij.plugins.DarkTimeAnalysis
Plugins>GDSC SMLM>Analysis, "Blink Estimator", gdsc.smlm.ij.plugins.BlinkEstimator
Plugins>GDSC SMLM>Analysis, "Neighbour Analysis", gdsc.smlm.ij.plugins.NeighbourAnalysis
Plugins>GDSC SMLM>Analysis, "Filter Analysis", gdsc.smlm.ij.plugins.FilterAnalysis
Plugins>GDSC SMLM>Analysis, "Create Filters", gdsc.smlm.ij.plugins.CreateFilters
Plugins>GDSC SMLM>Analysis, "Filter Analysis (File)", gdsc.smlm.ij.plugins.FilterAnalysis("file")
Plugins>GDSC SMLM>Analysis, "Spot Analysis", gdsc.smlm.ij.plugins.SpotAnalysis
Plugins>GDSC SMLM>Analysis, "Spot Analysis (Add)", gdsc.smlm.ij.plugins.SpotAnalysis("add")
Plugins>GDSC SMLM>Analysis, "Crosstalk Activation Analysis", gdsc.smlm.ij.plugins.PulseActivationAnalysis("crosstalk")
Plugins>GDSC SMLM>Analysis, "Pulse Activation Analysis", gdsc.smlm.ij.plugins.PulseActivationAnalysis
Plugins>GDSC SMLM>Analysis, "-"
Plugins>GDSC SMLM>Analysis, "Fourier Image Resolution", gdsc.smlm.ij.plugins.FIRE
Plugins>GDSC SMLM>Analysis, "FIRE Q Estimation", gdsc.smlm.ij.plugins.FIRE("q")

Plugins>GDSC SMLM>Tools, "Smooth Image", gdsc.smlm.ij.plugins.SmoothImage
Plugins>GDSC SMLM>Tools, "Binary Display", gdsc.smlm.ij.plugins.BinaryDisplay
Plugins>GDSC SMLM>Tools, "Reset Display", gdsc.smlm.ij.plugins.BinaryDisplay("reset")
Plugins>GDSC SMLM>Tools, "Pixel Filter", gdsc.smlm.ij.plugins.PixelFilter
Plugins>GDSC SMLM>Tools, "Noise Estimator", gdsc.smlm.ij.plugins.Noise
Plugins>GDSC SMLM>Tools, "Background Estimator", gdsc.smlm.ij.plugins.BackgroundEstimator
Plugins>GDSC SMLM>Tools, "Median Filter", gdsc.smlm.ij.plugins.MedianFilter
Plugins>GDSC SMLM>Tools, "Image Background", gdsc.smlm.ij.plugins.ImageBackground
Plugins>GDSC SMLM>Tools, "Overlay Image", gdsc.smlm.ij.plugins.OverlayImage
Plugins>GDSC SMLM>Tools, "Image Kernel Filter", gdsc.smlm.ij.plugins.ImageKernelFilter
Plugins>GDSC SMLM>Tools, "TIFF Series Viewer", gdsc.smlm.ij.plugins.TiffSeriesViewer

Plugins>GDSC SMLM>PC PALM, "PC-PALM Molecules", gdsc.smlm.ij.plugins.pcpalm.PCPALMMolecules
Plugins>GDSC SMLM>PC PALM, "PC-PALM Analysis", gdsc.smlm.ij.plugins.pcpalm.PCPALMAnalysis
Plugins>GDSC SMLM>PC PALM, "PC-PALM Spatial Analysis", gdsc.smlm.ij.plugins.pcpalm.PCPALMAnalysis("spatial")
Plugins>GDSC SMLM>PC PALM, "PC-PALM Save Results", gdsc.smlm.ij.plugins.pcpalm.PCPALMAnalysis("save")
Plugins>GDSC SMLM>PC PALM, "PC-PALM Load Results", gdsc.smlm.ij.plugins.pcpalm.PCPALMAnalysis("load")
Plugins>GDSC SMLM>PC PALM, "PC-PALM Fitting", gdsc.smlm.ij.plugins.pcpalm.PCPALMFitting
Plugins>GDSC SMLM>PC PALM, "PC-PALM Clusters", gdsc.smlm.ij.plugins.pcpalm.PCPALMClusters


Plugins>GDSC SMLM>Model, "PSF Creator", gdsc.smlm.ij.plugins.PSFCreator
Plugins>GDSC SMLM>Model, "PSF Drift", gdsc.smlm.ij.plugins.PSFDrift
Plugins>GDSC SMLM>Model, "PSF Combiner", gdsc.smlm.ij.plugins.PSFCombiner
Plugins>GDSC SMLM>Model, "PSF HWHM", gdsc.smlm.ij.plugins.PSFDrift("hwhm")
Plugins>GDSC SMLM>Model, "Cubic Spline Manager", gdsc.smlm.ij.plugins.CubicSplineManager
Plugins>GDSC SMLM>Model, "Astigmatism Model Manager", gdsc.smlm.ij.plugins.AstigmatismModelManager
Plugins>GDSC SMLM>Model, "-"
Plugins>GDSC SMLM>Model, "Create Data", gdsc.smlm.ij.plugins.CreateData
Plugins>GDSC SMLM>Model, "Create Simple Data", gdsc.smlm.ij.plugins.CreateData("simple")
Plugins>GDSC SMLM>Model, "Create Track Data", gdsc.smlm.ij.plugins.CreateData("track")
Plugins>GDSC SMLM>Model, "Create Benchmark Data", gdsc.smlm.ij.plugins.CreateData("benchmark")
Plugins>GDSC SMLM>Model, "Fit Benchmark Data", gdsc.smlm.ij.plugins.BenchmarkFit
Plugins>GDSC SMLM>Model, "Benchmark Analysis", gdsc.smlm.ij.plugins.BenchmarkFit("analysis")
Plugins>GDSC SMLM>Model, "Create Spot Data", gdsc.smlm.ij.plugins.CreateData("spot")
Plugins>GDSC SMLM>Model, "Load Benchmark Data", gdsc.smlm.ij.plugins.CreateData("load")
Plugins>GDSC SMLM>Model, "-"
Plugins>GDSC SMLM>Model, "Filter Spot Data", gdsc.smlm.ij.plugins.BenchmarkSpotFilter
Plugins>GDSC SMLM>Model, "Filter Spot Data (Batch)", gdsc.smlm.ij.plugins.BenchmarkSpotFilter("batch")
Plugins>GDSC SMLM>Model, "Fit Spot Data", gdsc.smlm.ij.plugins.BenchmarkSpotFit
Plugins>GDSC SMLM>Model, "Benchmark Filter Analysis", gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis
Plugins>GDSC SMLM>Model, "Benchmark Filter Parameters", gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis("parameters")
Plugins>GDSC SMLM>Model, "Iterate Filter Analysis", gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis("iterate")
Plugins>GDSC SMLM>Model, "Score Filter", gdsc.smlm.ij.plugins.BenchmarkFilterAnalysis("score")
Plugins>GDSC SMLM>Model, "Doublet Analysis", gdsc.smlm.ij.plugins.DoubletAnalysis
Plugins>GDSC SMLM>Model, "Doublet Filter Analysis", gdsc.smlm.ij.plugins.DoubletAnalysis("analysis")
Plugins>GDSC SMLM>Model, "Smart Spot Ranking", gdsc.smlm.ij.plugins.BenchmarkSmartSpotRanking

Plugins>GDSC SMLM>Toolset, "Install SMLM Toolset", gdsc.smlm.ij.plugins.About("toolset")
Plugins>GDSC SMLM>Toolset, "Show SMLM Tools", gdsc.smlm.ij.plugins.SMLMTools
Plugins>GDSC SMLM>Toolset, "Create SMLM Tools Config", gdsc.smlm.ij.plugins.About("config")
# This is ignored by the 'Show SMLM Tools' plugin
Plugins>GDSC SMLM>Toolset, "SMLM Macro Extensions", gdsc.smlm.ij.plugins.About("ext")

Plugins>GDSC SMLM>Calibration, "PSF Calculator", gdsc.smlm.ij.plugins.PSFCalculator
Plugins>GDSC SMLM>Calibration, "PSF Estimator", gdsc.smlm.ij.plugins.PSFEstimator
Plugins>GDSC SMLM>Calibration, "-"
Plugins>GDSC SMLM>Calibration, "Mean-Variance Test", gdsc.smlm.ij.plugins.MeanVarianceTest
Plugins>GDSC SMLM>Calibration, "Mean-Variance Test (EM-CCD)", gdsc.smlm.ij.plugins.MeanVarianceTest("em")
Plugins>GDSC SMLM>Calibration, "EM-Gain Analysis", gdsc.smlm.ij.plugins.EMGainAnalysis
Plugins>GDSC SMLM>Calibration, "EM-Gain PMF", gdsc.smlm.ij.plugins.EMGainAnalysis("pmf")
Plugins>GDSC SMLM>Calibration, "sCMOS Analysis", gdsc.smlm.ij.plugins.CMOSAnalysis
Plugins>GDSC SMLM>Calibration, "Camera Model Analysis", gdsc.smlm.ij.plugins.CameraModelAnalysis
Plugins>GDSC SMLM>Calibration, "Camera Model Fisher Information Analysis", gdsc.smlm.ij.plugins.CameraModelFisherInformationAnalysis
Plugins>GDSC SMLM>Calibration, "Camera Model Manager", gdsc.smlm.ij.plugins.CameraModelManager
Plugins>GDSC SMLM>Calibration, "Diffusion Rate Test", gdsc.smlm.ij.plugins.DiffusionRateTest
# No newline as this puts the Usage Tracker on a new column in the SMLM Tools window
Plugins>GDSC SMLM, "-"
Plugins>GDSC SMLM, "SMLM Usage Tracker", gdsc.smlm.ij.plugins.SMLMUsageTracker

# This is ignored by the 'Show SMLM Tools' plugin
Help>About Plugins, "GDSC SMLM...", gdsc.smlm.ij.plugins.About("about")
